.about-me-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  padding: 20px;
  background: #02558dd4;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 8px var(--color-black-1);
  z-index: 1;
}

.about-me-title {
  font-size: 1.8em;
  margin: 0 0 20px;
}

.about-me-content {
  font-size: 1.5em;
  line-height: 1.6;
}

.about-me-content p {
  margin: 0 0 10px;
}

.about-me-content p strong {
  font-size: 0.8em;
  color: #ffb6eb;
}
